.princi {
    display: -webkit-flex;
    display: flex;
    flex-flow: row;
    
}

.sexion{
    flex: 1 6 20%;
    order: 1;
}

.conten{
    order:2;
    flex: 80%;
    border:1px solid rgba(0, 0, 0, 0.05);
    border-radius: 4px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05) inset;
    border-color: #c0c0c0;
    border-width: 0.5px;
    padding: 19px;
    margin-left: 10px;
        
}

.framecoccionrpm,.framecoccionPresioneje, .framecoccionPresionchaq , .framecocciontemperatura, .prensaamp,.PrensadoH,.licorS,.licorG
,.decantasionTem,.decantasionHum, .decantasionaguaG,.decantasionaguaS,.refinacionTem,.AceiteHum,.aceiteA,.aceiteSol
,.tratamientoAlimTem,.tratamientoAlimSol,.tratamientoVahTemp,.tratamientoVacPeso,.tratamientoTemperatura1,.tratamientoTemperatura2
,.tratamientoTemperatura3,.tratamientoSalSol,.presecadoMinHum,.presecadoMaxPresion,.presecadoAmp,.presecadoPresEje,.presecadoPresChq,.presecadoTempSrc,.presecadoHumedad,
.secadoMinHum,.secadoMaxPresion,.secadoAmp,.secadoPresPsi,.secadoSrc,.secadoHumedad,.valor{
    position: relative;
    margin: 10px 0;
    padding: 5px 5px;
    background-color: #fafafa;
    border: 1px solid #ddd;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

/* Echo out a label for the example */
.framecoccionrpm::after , .framecoccionPresioneje::after, .framecoccionPresionchaq::after,.framecocciontemperatura::after, .prensaamp::after, .PrensadoH::after,.licorS::after,.licorG::after
,.decantasionTem::after,.decantasionHum::after,.decantasionaguaG::after,.decantasionaguaS::after,.refinacionTem::after,.AceiteHum::after,.aceiteA::after
,.aceiteSol::after,.tratamientoAlimTem::after,.tratamientoAlimSol::after,.tratamientoVahTemp::after,.tratamientoVacPeso::after,.tratamientoTemperatura1:after,.tratamientoTemperatura2:after
,.tratamientoTemperatura3:after,.tratamientoSalSol:after,.presecadoMinHum:after,.presecadoMaxPresion:after,.presecadoAmp:after,.presecadoPresEje:after,.presecadoPresChq:after,.presecadoTempSrc:after,.presecadoHumedad:after,
.secadoMinHum:after,.secadoMaxPresion:after,.secadoAmp:after,.secadoPresPsi:after,.secadoSrc:after,.secadoHumedad:after,.valor::after{
    content: "RPM";
    position: absolute;
    top: -1px;
    left: -1px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: bold;
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    color: #210B61;
    -webkit-border-radius: 4px 0 4px 0;
    -moz-border-radius: 4px 0 4px 0;
    border-radius: 4px 0 4px 0;
}
.framecoccionPresioneje::after{
    content: "Presión Eje";
}
.framecoccionPresionchaq::after{
    content: "Presión Chaqueta";
}
.framecocciontemperatura::after{
    content:"Temperatura °C";
}
.prensaamp::after{
    content:"Amperaje";
}

.PrensadoH::after{
    content:"Porcentaje de Humedad";
}
.licorS::after{
    content:"Porcentaje de Sólido";
}
.licorG:after{
    content:"Porcentaje de Grasa";
}
.decantasionTem:after{
    content:"Porcentaje de Temperatura °C";
} 
.decantasionHum:after{
    content:"Porcentaje de Humedad";
}
.decantasionaguaS:after{
    content:"Agua Cola, Porcentaje de Sólidos";
}
.decantasionaguaG:after{
    content:"Agua Cola, Porcentaje de Grasa";
}
.refinacionTem:after{
    content:"Temperatura °C";
}
.AceiteHum:after{
    content:"Aceite, Porcentaje de Humedad";
}
.aceiteSol:after{
    content:"Aceite, Porcentaje de Sólido";
}
.aceiteA:after{
    content:"Aceite, Porcentaje de Acidez";
}
.tratamientoAlimTem:after{
    content:"Alimentación Agua Cola, Temperatura °C";
}
.tratamientoAlimSol:after{
    content:"Alimentación Agua Cola, Porcentaje de Sólido";
}
.tratamientoVahTemp:after{
    content:"VAH Temperatura °C";
}
.tratamientoVacPeso:after{
    content:"VAC Peso";
}
.tratamientoTemperatura1:after{
    content:"Temperatura 1 °C";
}
.tratamientoTemperatura2:after{
    content:"Temperatura 2 °C";
}
.tratamientoTemperatura3:after{
    content:"Temperatura 3 °C";
}
.tratamientoSalSol:after{
    content:"Salida, Porcentaje de Sólido";
}
.presecadoMinHum:after{
    content: "Mínimo Porcentaje de Humedad";
}
.presecadoMaxPresion:after{
    content: "Máximo Presión";
}
.presecadoAmp:after{
    content: "Amperaje";
}
.presecadoPresEje:after{
    content:"Presión Eje";
}
.presecadoPresChq:after{
    content: "Presión Chaqueta";
    
}
.presecadoTempSrc:after{
    content: "Scrap";
}
.presecadoHumedad:after{
    content: "Porcentaje de Humedad";
}

.secadoMinHum:after{
    content: "Mínimo Porcentaje de Humedad";
}
.secadoMaxPresion:after{
    content: "Máximo Presión";
}

.secadoAmp:after{
    content: "Amperaje";
}

.secadoPresPsi:after{
    content:"Presión PSI";
}

.secadoSrc:after{
    content: "Scrap";
}

.secadoHumedad:after{
    content: "Porcentaje de Humedad";
}

.valor:after{
    content: "Valor";
}
